<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974077398990-ct9ik6lft97aq0qd6m3fd58rfgu6nq92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974077398990-ct9ik6lft97aq0qd6m3fd58rfgu6nq92</string>
	<key>API_KEY</key>
	<string>AIzaSyAqqCgcFfuptD23yK4bcF1uP_bs6XALijg</string>
	<key>GCM_SENDER_ID</key>
	<string>974077398990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mark4</string>
	<key>PROJECT_ID</key>
	<string>project-40c46</string>
	<key>STORAGE_BUCKET</key>
	<string>project-40c46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974077398990:ios:103bea08e03ccaf27ce59f</string>
</dict>
</plist>